#Gradle
.gradle
*/build/

#Intellij
.idea
*.iws
*.iml
*/out/

#Mac
.DS_Store

#Jars for travis ci
localRepository/**/*.md5
localRepository/**/*.sha1
localRepository/**/*.pom*
localRepository/**/*.xml*